apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  # these labels are deployments related lables
  labels:
    app: nginx
    purpose: deployment 
    tier: web
spec:
  replicas: 20
  selector:
    matchLabels:
      app: nginx
      tier: web
      project: test-project
      # pod definition
  template:
    metadata:
      labels:
        app: nginx
        tier: web
        project: test-project
        extra-key: extra-value
    spec:
      containers:
      - name: nginx
        image: nginx
        # ports:
        # - containerPort: 80
